@model ClassCourse
<h2>@Model.name</h2>

<div>
    <a asp-action="CreateHomeworkView" asp-controller="Classes" asp-route-courseId="@Model.id">Create Homework</a>
</div>
    <div>
        <a asp-action="StatusHomeworks" asp-controller="Classes" asp-route-courseId="@Model.id">View Homeworks</a>
    </div>
