@model StudentsAndTeachers.ViewModels.CourseListViewModel

<h2>Courses</h2>

<div>
    @foreach(ClassCourse classCourse in Model.ClassCourses)
    {
        <a asp-action="Class" asp-controller="Classes">@classCourse.name</a>
    }
</div>
<div>
    <a asp-action="NewClass" asp-controller="Classes">New Class</a>
</div>
