@model HomeworkStatusViewModel
<h1>StatusHomeworks</h1>
@foreach (Homework homework in @Model.homeworks)
{
<div>
    <ol>


        <li>Title:@homework.name</li>
        <li>Description:@homework.description</li>
        <li>Deadline:@homework.deadline</li>
        <a>Add grade</a>

    </ol>
</div>
}

